body {
    font-family: 'Courier New', Courier, monospace;
}

h1 {
    color: #FF5B37;
}

h2 {
    color: #900C3F;
}

h3 {
    color: #5733FF;
}

p {
    color: rgb(94, 82, 79);
}

ul {
    color: #BF37FF;
    list-style-type: circle;
}